---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: LLVM
---
Language: Proto
IndentWidth: 4
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: true
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Attach
DerivePointerAlignment: false
IndentCaseLabels: false
KeepEmptyLinesAtTheStartOfBlocks: true
PointerAlignment: Left
SpacesBeforeTrailingComments: 1
SpaceBeforeAssignmentOperators: true
